---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <html lang="da">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Agnes Kjær Turin</title>
    </head>

    <body>
      <section class="bg-amber-50">
        <section class="grid-rows-3 ml-4">
          <div>
            <h1 class="text-cyan-700 text-7xl">
              AGNES <br /> KJÆR <br /> TURIN
            </h1>
          </div>

          <div>
            <h2>Multimediedesigner 3. semester</h2>
          </div>
          <!-- Gradient Circle -->
          <div
            class="absolute top-1/3 left-1/3 w-48 h-48 bg-gradient-to-r from-pink-300 via-purple-300 to-blue-300 rounded-full opacity-50 transform -translate-x-1/2 -translate-y-1/2"
          >
          </div>
          <div>
            <img src="../public" alt="" />
          </div>
        </section>
      </section>
    </body>
  </html>
</MainLayout>

<!-- <article>
	<h1>Index overskrift</h1>
	<Button>Klik!</Button>
	<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
</article> -->
